* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--body-background-color);
  margin: 0 var(--base-spacing-double);
  color: var(--copy-color);
}

a {
  border-bottom: 1px solid var(--brand-primary);
  color: var(--copy-color);
  text-decoration: none;
  transition: .15s;
}

a:hover {
  border-bottom-width: 2px;
  padding-bottom: 2px;
}