.header {
  background-image: url('/img/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0px 0px;
  min-height: 33vh;
  padding-top: 10vh;

  @media (--breakpoint-md) {
    padding-top: 20vh;
  }
}

.header__title {
  border-bottom: 1px solid rgba(255,255,255,0.5);
  color: #fff;
  font-size: 3rem;
  font-weight: var(--font-weight-light);
  margin: 0 auto var(--base-spacing) auto;
  max-width: 50%;
  text-align: center;
  text-shadow: 0 0 10px #000, 0 0 4px #000;
}

.header__subtitle {
  color: #fff;
  font-size: 1.8rem;
  font-weight: var(--font-weight-light);
  margin: 0;
  text-align: center;
  text-shadow: 0 0 10px #000, 0 0 4px #000;
}

.header__cards {
  margin-top: 85px;
}

.header__cards > .card {
  margin-bottom: var(--base-spacing);

  @media (--breakpoint-md) {
    margin-bottom: calc(var(--base-spacing) * -1);
  }
}