{% extends 'src/content/_layouts/base.njk' %}

{% block meta_tags %}
    {{ super() }}

    <meta property="og:type" content="article"/>
    <meta property="article:published_time" content="{{ page.date }}"/>
{% endblock %}

{% block content %}
    <div class="mx-auto mb-24 prose dark:prose-invert lg:prose-lg md:mt-8 lg:mt-16">
        <h1>{{ title }}</h1>
        <div class="flex items-center not-prose">
            <div class="overflow-hidden flex-shrink-0 w-6 h-6 mr-2 rounded-full">
                <img class="my-0" src="{{ author.avatarUrl }}" alt="{{ author.name }}"/>
            </div>
            <div>
                {{ author.name }}
                <span class="text-gray-500 dark:text-gray-400">
                    on {{ page.date | formattedDate }}
                    {%- if updated_at -%}
                        , last updated on {{ updated_at | formattedDate }}
                    {%- endif -%}
                </span>
            </div>
        </div>
        <div class="text-gray-500 dark:text-gray-400 whitespace-nowrap mt-1">
            {{ content | readtime }} minutes to read
        </div>
        <div class="mt-2">
            {% include 'tag-list.njk' %}
        </div>

        {{ content | safe }}

        <hr>

        <p class="mt-4">
            I hope this post helped you! If you have any question hit me up on <a href="https://twitter.com/timkley">Twitter</a>
            😊.
        </p>

        {% if global.environment == 'development' and seo.socialImage %}
            <a href="/opengraph{{ page.url }}">Open Graph Image</a>
        {% endif %}
    </div>
{% endblock %}
