<!doctype html>
<html lang="de" class="scroll-smooth">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ metaDescription|default('Get to know me.') }}">
    <title>{{ title|default('Tim Kleyersburg') }}</title>

    {% block styles %}
        <link rel="stylesheet" type="text/css" media="screen" href="/bundle.css?v={% version %}"/>

        <link rel="preload" href="/fonts/source-sans-pro-v14-latin-regular.woff2" as="font" type="font/woff2" crossorigin />
        <link rel="preload" href="/fonts/source-sans-pro-v14-latin-600.woff2" as="font" type="font/woff2" crossorigin />
        <link rel="preload" href="/fonts/source-sans-pro-v14-latin-700.woff2" as="font" type="font/woff2" crossorigin />
    {% endblock %}

    {% block meta_tags %}
        <meta property="og:title" content='{{ title|default('Tim Kleyersburg') }}'/>
        <meta property="og:description" content="{{ metaDescription|default('Get to know me.') }}" />
        <meta property="og:url" content="https://www.tim-kleyersburg.de{{ page.url }}"/>
        <meta property="og:site_name" content="Tim Kleyersburg"/>
        {% if seo.socialImage %}
            <meta property="og:image" content="{% ogImage page.url %}" />
            <meta name="twitter:image" content="{% ogImage page.url %}" />
        {% endif %}
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:description" content="{{ metaDescription|default('Get to know me') }}" />
        <meta name="twitter:title" content='{{ title|default('Tim Kleyersburg') }}'/>
        <meta name="twitter:site" content="@timkley"/>
    {% endblock %}

    <script src="/bundle.js?v={% version %}" defer></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body class="font-sans bg-gray-50 text-slate-900 dark:bg-gray-800 dark:text-gray-300 selection:bg-blue-200">
<div class="px-4 pt-6 pb-12">
    {% block header %}
        <header class="flex justify-between items-center mx-auto mb-8 max-w-3xl">
            <div class="font-semibold tracking-tight">
                <a class="flex items-center border-0 transition-colors duration-300 hover:text-blue-700 dark:hover:text-blue-300" href="/">
                    Tim Kleyersburg
                    <div class="-mt-1 ml-1 w-8 h-8 fill-current">
                        {% include 'castle.svg' %}
                    </div>
                </a>
            </div>

            <div class="space-x-2">
                <a href="/">Home</a>
                <a href="/articles">Articles</a>
                <a href="/bragdoc">Bragdoc</a>
            </div>
        </header>
    {% endblock %}

    {% block content %}
        {{ content | safe }}
    {% endblock %}
</div>

{% block footer %}
    <div class="max-w-3xl mx-auto px-4">
        <div class="gap-3 text-sm sm:space-y-0 flex flex-col sm:flex-row items-start my-10">
            <a class="inline-flex items-center text-gray-600 dark:text-gray-300" href="https://github.com/timkley/tim-kleyersburg.de/tree/main/{{ page.inputPath }}">
                <div class="flex-shrink-0 mr-1 w-4 h-4">
                    <svg class="fill-current" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>GitHub</title>
                        <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/>
                    </svg>
                </div>
                See on GitHub
            </a>
            <span class="hidden sm:block">•</span>
            <a class="inline-flex items-center text-gray-600 dark:text-gray-300" href="/feed.xml">
                RSS Feed
            </a>
            <span class="hidden sm:block">•</span>
            <div>
                Code highlighting provided by <a href="https://torchlight.dev">torchlight.dev</a>
            </div>
        </div>
    </div>
        
    <footer class="fixed bottom-0 w-full h-1 bg-gradient-to-r from-blue-700 to-blue-300"></footer>
{% endblock %}

{% block scripts %}
    {% if global.environment == 'production' %}
        <script async defer data-website-id="428e7134-523b-4449-aa87-f45e94f5d525" src="https://c3po.wacg.dev/protocol.js"></script>
    {% endif %}
{% endblock %}
</body>
</html>
