parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property App\\Models\\Holocron\\Health\\DailyGoal\:\:\$reached\.$#'
			identifier: property.notFound
			count: 1
			path: app/Jobs/Holocron/Health/SendGoalOverview.php

		-
			message: '#^Cannot access property \$value on string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Jobs/Holocron/Health/SendGoalOverview.php

		-
			message: '#^Cannot call method unit\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Jobs/Holocron/Health/SendGoalOverview.php

		-
			message: '#^Cannot access property \$value on string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Jobs/Holocron/SendEveningDigest.php

		-
			message: '#^Cannot call method unit\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Jobs/Holocron/SendEveningDigest.php

		-
			message: '#^Access to an undefined property BenBjurstrom\\Prezet\\Models\\Document\:\:\$date\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Article.php
