<div
        class="p-2 mx-auto w-64 h-48 bg-sky-100 transition hover:bg-sky-100/80 rounded shadow-md sm:w-60 dark:bg-slate-700 dark:hover:bg-slate-700/80"
        x-data="{ result: undefined }"
        x-init="result = await (await fetch('https://www.tim-kleyersburg.de/.netlify/functions/last-{{ type }}')).json()"
>
    <div class="mb-5 text-center">
        <span class="text-sm text-gray-700 dark:text-gray-300">
            Last {{ type|capitalize }}
        </span>
        {% block link %}{% endblock %}
    </div>
    <template x-if="result">
        {% block content %}{% endblock %}
    </template>
    <template x-if="!result">
        <div>loading...</div>
    </template>
</div>