<ul class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:gap-8">
    {% for item in items %}
        <a href="{{ item.url }}" class="flex flex-col overflow-hidden text-xl font-semibold bg-gray-100 rounded-md border-b-0 shadow-md group hover:text-slate-900 dark:hover:bg-gray-800 dark:text-white dark:hover:text-white text-slate-900 hover:bg-gray-50 hover:shadow-lg dark:bg-gray-700">
            <div class="h-40 bg-gray-500">
                {% if item.data.hero %}
                    <img class="object-cover w-full h-full group-hover:saturate-150" src="{{ item.url }}{{ item.data.hero }}" alt="{{ item.data.title }}"/>
                {% endif %}
            </div>
            <div class="p-3 flex-grow flex flex-col justify-between">
                {{ item.data.title }}
                <div class="text-lg font-normal text-gray-700 dark:text-gray-300">
                    on {{ item.date | formattedDate }}
                </div>
            </div>
        </a>
    {% endfor %}
</ul>