<div class="font-semibold tracking-tight">
	<a class="flex items-center border-0 transition-colors duration-300 hover:text-blue-700 dark:hover:text-blue-300" href="/">
		Tim Kleyersburg
		<div class="-mt-1 ml-1 w-8 h-8 fill-current">
			{% include 'castle.svg' %}
		</div>
	</a>
</div>