{% macro heading(tag = 'div', content = '') %}
    {% set classes = {
        'h1': 'text-3xl lg:text-4xl dark:text-white font-bold mb-5',
        'h2': 'text-2xl dark:text-white font-bold mb-4'
    } %}

    <{{ tag }} class="{{ classes[tag]|default('') }}">
    {{ content }}
    </{{ tag }}>
{% endmacro %}

{% macro alert(content) %}
    <div class="dark:text-gray-800 bg-yellow-50 dark:bg-orange-200 rounded-md px-2 py-3 not-prose border-l-4 border-l-orange-300 leading-snug">
        {{ content }}
    </div>
{% endmacro %}