<div class="flex flex-wrap gap-3">
	{% for tag in tags %}
		{% if tag !== 'article' %}
			<a
				class="rounded-full bg-gray-200 tracking-wide hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-gray-100 dark:hover:text-gray-100 px-3 text-sm py-1"
				href="/tags/{{ tag | slug }}"
			>
				{{ tag }}
			</a>
		{% endif %}
	{% endfor %}
</div>