<div class="-mx-6 mb-8 pl-6 pr-3 transition border-l-4 border-gray-300 hover:border-blue-600">
    <h4 class="text-xl">{{ cv_item.title }}</h4>
    <p class="text-sm text-gray-600">{{ cv_item.date }}</p>
    <p class="mb-3 italic text-lg text-gray-500">{{ cv_item.employer }}</p>
    {{ cv_item.content }}
</div>