{% extends '_last-thing.njk' %}
{% set type = 'scrobble' %}

{%- block link -%}
    <a href="https://www.last.fm/user/Timmotheus">@timmotheus</a>
{% endblock %}

{%- block content -%}
    <div class="text-center">
        <img width="64" height="64" class="mx-auto mb-2 rounded border shadow dark:border-gray-600" :src="result.image[1]['#text']" alt="Album image of the last scrobble" :alt="`${result.artist['#text']} - ${result.name}`">
        <div class="truncate" x-text="result.artist['#text']"></div>
        <div class="font-bold truncate" x-text="result.name"></div>
    </div>
{% endblock %}