{% extends '_last-thing.njk' %}
{% set type = 'tweet' %}

{%- block link -%}
    <a href="https://twitter.com/timkley">@timkley</a>
{% endblock %}

{%- block content -%}
    <div class="line-clamp-5" x-text="result.text"></div>
{% endblock %}