{% macro heading(tag = 'div', content = '') %}
    {% set classes = {
        'h1': 'text-3xl font-bold mb-5 transition -rotate-2 hover:rotate-2',
        'h2': 'text-2xl font-bold mb-4 transition rotate-2 hover:-rotate-2'
    } %}

    <{{ tag }} class="{{ classes[tag]|default('') }}">
    {{ content }}
    </{{ tag }}>
{% endmacro %}