@import 'tailwindcss';

@config '../../tailwind.config.js';

@theme {
    --font-sans: 'Inter', 'sans-serif';
    --font-ibm: 'IBM Plex Sans', 'sans-serif';
}

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
        min-height: calc(100% + env(safe-area-inset-top));
        padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    }

    :root {
        --color-accent: var(--color-sky-600);
        --color-accent-content: var(--color-sky-600);
        --color-accent-foreground: var(--color-white);
    }

    .dark {
        --color-accent: var(--color-sky-600);
        --color-accent-content: var(--color-sky-400);
        --color-accent-foreground: var(--color-white);
    }

    a:not([data-flux-button]) {
        @apply transition dark:text-white hover:text-sky-700 dark:hover:text-sky-200 border-b border-sky-400 hover:border-sky-600;
    }

    a.external-link::after {
        content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM3ODcxNkMiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1hcnJvdy11cC1yaWdodCI+PHBhdGggZD0iTTcgN2gxMHYxMCIvPjxwYXRoIGQ9Ik03IDE3IDE3IDciLz48L3N2Zz4=");
        margin-left: 1px;
    }

    a.prezet-heading {
        margin-right: 8px;
        scroll-margin-top: 112px;
    }
}

@plugin "@tailwindcss/typography";
