---
layout: base
override:tags: []
pagination:
    data: collections.article
    reverse: true
    size: 10
---

<div class="mx-auto max-w-3xl">
    {% set items = pagination.items %}
    {% include 'article-list.njk' %}
    <div class="flex justify-center gap-6 mt-10">
        {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}">← Previous Page</a>
        {% endif %}
        {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}">Next Page →</a>
        {% endif %}
    </div>
</div>