<div class="-mx-6 mb-8 pl-6 pr-3 transition border-l-4 border-blue-600 hover:border-blue-500">
    <h4 class="text-xl">{{ title }}</h4>
    <p class="text-sm text-gray-600">{{ date }}</p>
    <p class="mb-3 italic text-lg text-gray-500">{{ employer }}</p>
    {% block content %}{% endblock %}
</div>