---
layout: base.njk
title: Achievements
---
{% from 'macros.njk' import heading %}

<div class="mx-auto mt-16 space-y-16 max-w-lg text-center sm:space-y-20 md:space-y-24">
    <div>
        <div class="my-8 lg:my-12">
            {{ heading('h1', 'Achievements') }}
        </div>
        <p class="md:text-xl [text-wrap:pretty]">
            This is a loose collections of personal and professional achievements which milestones that made me happy or proud.
        </p>

    </div>

    <div>
        <ul class="text-left mt-12">
            {% for achievement in achievements|reverse %}
                <div class="relative pt-2 pb-6 md:pb-8 lg:pb-12 pl-4 border-l-2 border-gray-500">
                    <div class="flex items-center text-sm text-gray-400">
                        <div class="absolute -left-1 w-2 h-2 bg-gray-50 rounded-full border-2 border-gray-500 -translate-x-px dark:bg-gray-800"></div>
                        {{ achievement.date }}
                    </div>
                    <div class="mb-3 text-lg font-semibold dark:text-white">{{ achievement.title }}</div>

                    {{ achievement.description | safe }}
                </div>
            {% endfor %}
        </ul>
    </div>
</div>