---
layout: base.njk
---
{% from 'macros.njk' import heading %}

<div class="mx-auto mt-16 space-y-16 max-w-lg text-center sm:space-y-20 md:space-y-24">
    <div>
        {{ heading('h1', '👋 Hello world!') }}
        <p class="leading-relaxed lg:text-xl">
            I’m Tim, working in a digital agency, fascinated by web development and currently focusing on developer mentoring, process optimisation and
            everything in between.
        </p>
    </div>

    <div class="grid sm:grid-cols-2 gap-8">
        {% include 'last-scrobble.njk' %}
        {% include 'last-tweet.njk' %}
    </div>

    <div>
        {{ heading('h2', 'Latest articles') }}

        {% set articleLimit = 5 %}
        <ul class="space-y-3">
            {% for article in collections.article | reverse | limit(articleLimit) %}
                <li>
                    <a href="{{ article.url }}">{{ article.data.title }}</a>
                    <span class="ml-1 text-gray-700 dark:text-gray-300">on {{ article.date | formattedDate }}</span>
                </li>
            {% endfor %}
        </ul>

        {% if collections.article| length  > articleLimit %}
            <a class="inline-block mt-10" href="/articles">all articles</a>
        {% endif %}
    </div>

    <div>
        {{ heading('h2', 'My career') }}

        <ul class="space-y-10 divide-y divide-gray-300 dark:divide-gray-700 md:space-y-16">
            {% for item in cv_items %}
                <li class="pt-10 md:pt-16 first:pt-0">
                    <p class="text-sm text-gray-600 dark:text-gray-300">{{ item.date }}</p>
                    <p class="mt-2 mb-1 text-xl font-bold dark:text-white">{{ item.title }}</p>
                    <p class="mb-3 text-gray-600 dark:text-gray-400">
                        {% if item.link %}
                            <a href="{{ item.link }}">
                        {% endif %}
                        🏢 {{ item.employer }}
                        {% if item.link %}
                            </a>
                        {% endif %}
                    </p>
                    {{ item.content }}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        {{ heading('h2', 'Where to find me online') }}

        <ul class="space-y-3">
            {% for contact_item in contact_items %}
                <li>
                    <a href="{{ contact_item.url }}">
                        {{ contact_item.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>