---
layout: base.njk
title: All tags
metaDescription: Overview of all tags
pagination:
  data: collections
  size: null
  alias: tags
  filter:
    - all
    - article
  addAllPagesToCollections: true
permalink: /tags/
---
{% from 'macros.njk' import heading %}
<div class="mx-auto max-w-3xl">
  {{ heading('h1', 'All tags') }}

  {% include 'tag-list.njk' %}
</div>