---
layout: base.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
  metaDescription: View all articles tagged as “{{ tag }}”
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - article
  addAllPagesToCollections: true
permalink: /tags/{{ tag | slug }}/
---
{% from 'macros.njk' import heading %}

<div class="mx-auto max-w-3xl">
  {{ heading('h1', 'All articles tagged “' + tag +'”') }}

  {% set items = collections[tag] %}
  {% include 'article-list.njk' %}
</div>