<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <title>{{ title|default('Tim Kleyersburg') }}</title>

    {% block meta_tags %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ metaDescription|default('Get to know me.') }}">
        <meta property="og:title" content='{{ title|default('Tim Kleyersburg') }}'/>
        <meta property="og:description" content="{{ metaDescription|default('Get to know me.') }}" />
        <meta property="og:url" content="https://www.tim-kleyersburg.de{{ page.url }}"/>
        <meta property="og:site_name" content="Tim Kleyersburg"/>
        {% if socialImage %}
            <meta property="og:image" content="https://www.tim-kleyersburg.de{{ page.url }}{{ socialImage }}" />
            <meta name="twitter:image" content="https://www.tim-kleyersburg.de{{ page.url }}{{ socialImage }}" />
        {% endif %}
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:description" content="{{ metaDescription|default('Get to know me') }}" />
        <meta name="twitter:title" content='{{ title|default('Tim Kleyersburg') }}'/>
        <meta name="twitter:site" content="@timkley"/>
    {% endblock %}

    {% block styles %}
        <link rel="stylesheet" type="text/css" media="screen" href="/bundle.css?v={% version %}"/>
    {% endblock %}
</head>
<body class="bg-gray-50 selection:bg-blue-200">
<div class="px-4 py-6">
    {% block header %}
        <header class="flex items-center justify-between mx-auto max-w-3xl mb-8">
            <div class="tracking-tight font-semibold">
                <a class="border-transparent hover:border-blue-500" href="/">Tim Kleyersburg</a>
            </div>

            <div class="space-x-2">
                <a href="/">Home</a>
                <a href="/articles">Articles</a>
            </div>
        </header>
    {% endblock %}

    {% block content %}
        {{ content | safe }}
    {% endblock %}
</div>

{% block footer %}
    <footer class="fixed bottom-0 w-full bg-gradient-to-r from-blue-700 to-blue-300 h-1">

    </footer>
{% endblock %}
</body>
</html>
