---
layout: base
tags: null
pagination:
    data: collections.article
    size: 10
---

<div class="max-w-3xl mx-auto space-y-3">
    <ul class="space-y-3">
        {% for article in pagination.items | reverse %}
            <li><a href="{{ article.url }}">{{ article.data.title }}</a>
                <span class="ml-1 text-gray-700 dark:text-gray-300">on {{ article.date | formattedDate }}</span></li>
        {% endfor %}
    </ul>
</div>
