---
layout: opengraph
override:tags: []
permalink: "/opengraph{{ article.url }}"
pagination:
    data: collections.article
    size: 1
    alias: article
---

<div class="relative z-10 pt-16 pl-24 max-w-4xl prose">
    <h1 class="text-7xl mb-4">
        {{ article.data.title }}
    </h1>
    <div class="text-3xl flex items-center space-x-2">
        <div class="flex-shrink-0 w-6 h-6 overflow-hidden rounded-full">
            <img class="my-0" src="{{ author.avatarUrl }}" alt="{{ author.name }}"/>
        </div>
        <div>
            {{ author.name }}
            <span class="text-gray-500">
                on {{ article.data.date | formattedDate }}
            </span>
        </div>
    </div>

    <p class="text-5xl text-gray-600 mt-24 leading-relaxed">
        {{ article.data.metaDescription }}
    </p>
</div>